* {
    transition: 0.5s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: rgb(255, 254, 251);
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

main {
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.nav {
    padding: 1vh;
    background: hsla(0, 0%, 0%, 0.9);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: rgb(241, 232, 201);
    margin: 0.4vh 1.8vw;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    white-space: nowrap;
    padding: 5px;
}

nav a:hover {
    background-color: rgb(114, 111, 98);
    border-radius: 8px;
    color: black;
}



.wiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.wiz p {
    border-top: solid 3px rgb(241, 232, 201);
    font-size: 22px;
    font-weight: 600;
}

.wiz a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    color: rgb(78, 73, 55);
}

.off {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 6vh;
    border-top: solid 3px rgb(241, 232, 201);
    text-align: center;
}

.opis {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;
}

.opis span {
    max-width: 90%;
    text-align: center;
    border-left: solid 3px rgb(241, 232, 201);
    border-right: solid 3px rgb(241, 232, 201);
    padding: 0 1vw 0 1vw;
}

.opis div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background: hsla(0, 0%, 0%, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    height: auto;
    padding: 5vh 0;
    color: rgb(241, 232, 201);
    margin-top: auto;
}

footer p {
    margin-left: 3vw;
}

li {
    list-style:circle;
}

.socialmedia img {
    padding: 5px;
    transition: 0.5s;
}

.socialmedia img:hover {
    animation: hop .3s;
    scale: 1.5;
}



@media only screen and (max-width: 345px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wiz p, a {
        text-align: center;
    }
}

@media only screen and (max-width: 474px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    
    .nav a {
        margin-top: 0.5vh;
        margin-left: 0;
        margin-right: 0;
    }

    main {
        margin-top: 22vh;
    }

    h2 {
        max-width: 90%;
        text-align: center;
    }
}

@media only screen and (min-width: 1600px) {
    footer {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    footer div, ol {
        margin-left: 1vw;
    }
}


@keyframes hop {
    25% {transform:translateX(5px);}
    50% {transform:translateX(-5px);}
    75% {transform:translateX(5px);}
}